.games-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
}

.game-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    min-height: 48px;
    gap: 0.6em;
}

input,
select,
.dropdown-toggle,
.dropdown-menu {
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 4px 8px;
  height: 40px;
}

.dropdown-menu {
  right: 0;
  left: auto;
  top: auto;
  position: absolute;
  width: 250px;
  height: auto;
  background-color: #2c3e50;
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

.dropdown-menu .dropdown-item {
  display: block;
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #007aff;
}

.dropdown-toggle {
  position: relative;
  background-color: field;
}

.dropdown-icon {
  margin-right: 4px;
}

.game-list-header > select {
    text-align: center;
    max-width: 70px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    flex: 1;
    overflow: auto;
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    width: calc(20% - 16px);
    /* Ocupa 20% da largura disponível */
    max-width: 380px;
    min-width: 280px;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.game-card:hover {
    transform: translateY(-4px);
}

.game-card-image {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    overflow: hidden;
}

.game-card.verbose {
    width: auto;
    max-width: 600px;
}

.game-card.verbose .game-card-image {
    aspect-ratio: 16/9;
    height: auto;
}

.game-card-content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex: 1;
    text-align: center;
}

.game-card-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 8px 0 4px;
    color: #333;
}

.game-card-subtitle {
    font-size: 0.7rem;
    color: #666;
    margin: 4px 0;
}

.game-card-category {
    font-size: 0.8rem;
    color: #888;
    margin: 4px 0;
    flex: 1;
}

.game-card-size {
    font-size: 0.8rem;
    font-weight: bold;
    color: #555;
    margin-top: 8px;
}

.game-card-download-progress, .game-card-task {
    display: flex;
    flex-direction: row;
    height: 18px;
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: #ddd;
    width: 100%;
}

.game-card-task {
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.game-card-task::after, .game-card-task::before {
    content: ".";
    animation: dots 2s steps(3, end) infinite;
}

@keyframes dots {
    0%, 16% { content: ""; }
    16%, 32% { content: "."; }
    32%, 48%  { content: ".."; }
    48%, 64% { content: "..."; }
    64%, 80%  { content: ".."; }
    80%, 100% { content: "."; }
}

.game-card-download-progress > div {
    display: flex;
    /* height: 100%; */
    font-size: 0.6em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}

.game-card-download-progress > div:nth-child(5n + 1) {
    background-color: aqua;
}

.game-card-download-progress > div:nth-child(5n + 2) {
    background-color: blueviolet;
    color: white;
}

.game-card-download-progress > div:nth-child(5n + 3) {
    background-color: darkseagreen;
}

.game-card-download-progress > div:nth-child(5n + 4) {
    background-color: cornflowerblue;
}

.game-card-download-progress > div:nth-child(5n + 5) {
    background-color: coral;
}

@media screen and (min-width: 830px) {
    .game-list.list {
        row-gap: 10px;
    }
    
    .game-list.list .game-card {
        flex: auto;
        flex-direction: row;
        /* width: 100%; */
        min-width: 800px;
        max-width: none;
    }
    
    .game-list.list .game-card-image {
        width: 250px;
        height: auto;
        aspect-ratio: 16/9;
    }
}